@import url(http://fonts.googleapis.com/css?family=Quantico:400,700);
body {
  max-width: 650px;
  margin: 0 auto;
  background: white; }

h1, h2, h3, h4, h5, h6 {
  color: #51EF0E; }

p {
  color: #053659; }

li {
  color: #053659; }

h1, h2, h3, h4, h5, h6 {
  font-family: Quantico; }

p {
  font-size: 18px; }

table {
  width: 100%; }
  table thead {
    background-color: #7087AA;
    font-family: Quantico; }
  table tr:nth-of-type(even) {
    background-color: rgba(181, 209, 173, 0.2); }
  table td {
    padding-left: 10px;
    text-align: center; }

form {
  width: 100%; }
  form label {
    font-family: Quantico; }
  form input {
    border: 1px solid #1D7691;
    background-color: #51EF0E; }
  form textarea {
    width: 100%;
    height: 50px;
    background-color: rgba(81, 239, 14, 0.5); }
  form legend {
    color: #053659; }
  form fieldset {
    color: #1D7691;
    background-color: rgba(81, 239, 14, 0.5); }
  form .submit {
    background-color: #7087AA;
    border: 1px solid #51EF0E;
    font-weight: 500;
    color: white;
    font-size: 20px;
    padding: 20px 20px 20px 20px; }
